In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("https://data.cdc.gov/api/views/v6ab-adf5/rows.csv?accessType=DOWNLOAD")

In [7]:
data.head(10)

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.8
1  1901  1-4 Years      1695.0
2  1902  1-4 Years      1655.7
3  1903  1-4 Years      1542.1
4  1904  1-4 Years      1591.5
5  1905  1-4 Years      1498.9
6  1906  1-4 Years      1580.0
7  1907  1-4 Years      1468.3
8  1908  1-4 Years      1396.8
9  1909  1-4 Years      1348.9

In [11]:
data.sort_values('Death Rate', ascending=True).head(3)

     Year  Age Group  Death Rate
231  2012  5-9 Years        11.4
237  2018  5-9 Years        11.5
229  2010  5-9 Years        11.5

In [20]:
data['Age Group'].replace({'01-04 Yearz':'01-04 Years','5-9 Years':'05-09 Years'}, inplace = True)

In [21]:
data

     Year    Age Group  Death Rate
0    1900  01-04 Years      1983.8
1    1901  01-04 Years      1695.0
2    1902  01-04 Years      1655.7
3    1903  01-04 Years      1542.1
4    1904  01-04 Years      1591.5
5    1905  01-04 Years      1498.9
6    1906  01-04 Years      1580.0
7    1907  01-04 Years      1468.3
8    1908  01-04 Years      1396.8
9    1909  01-04 Years      1348.9
10   1910  01-04 Years      1397.3
11   1911  01-04 Years      1176.0
12   1912  01-04 Years      1094.1
13   1913  01-04 Years      1193.4
14   1914  01-04 Years      1024.2
15   1915  01-04 Years       924.2
16   1916  01-04 Years      1111.5
17   1917  01-04 Years      1066.0
18   1918  01-04 Years      1573.5
19   1919  01-04 Years       928.0
20   1920  01-04 Years       987.2
21   1921  01-04 Years       801.2
22   1922  01-04 Years       742.0
23   1923  01-04 Years       806.7
24   1924  01-04 Years       683.2
25   1925  01-04 Years       641.0
26   1926  01-04 Years       723.4
27   1927  01-04 Years       591.0
28   1928  01-04 Years       647.5
29   1929  01-04 Years       625.5
..    ...          ...         ...
446  1989  15-19 Years        85.9
447  1990  15-19 Years        87.9
448  1991  15-19 Years        88.7
449  1992  15-19 Years        83.6
450  1993  15-19 Years        85.8
451  1994  15-19 Years        85.5
452  1995  15-19 Years        82.1
453  1996  15-19 Years        77.5
454  1997  15-19 Years        73.6
455  1998  15-19 Years        69.5
456  1999  15-19 Years        68.6
457  2000  15-19 Years        67.1
458  2001  15-19 Years        66.3
459  2002  15-19 Years        67.0
460  2003  15-19 Years        65.4
461  2004  15-19 Years        64.9
462  2005  15-19 Years        63.8
463  2006  15-19 Years        63.0
464  2007  15-19 Years        60.3
465  2008  15-19 Years        55.9
466  2009  15-19 Years        51.9
467  2010  15-19 Years        49.4
468  2011  15-19 Years        48.9
469  2012  15-19 Years        47.2
470  2013  15-19 Years        44.8
471  2014  15-19 Years        45.5
472  2015  15-19 Years        48.3
473  2016  15-19 Years        51.2
474  2017  15-19 Years        51.5
475  2018  15-19 Years        49.2

[476 rows x 3 columns]

In [23]:
data_wide = data.pivot(index='Year', columns='Age Group')

In [24]:
data_wide.head(2)

           Death Rate
Age Group 01-04 Years 05-09 Years 10-14 Years 15-19 Years
Year
1900           1983.8       466.1       298.3       484.8
1901           1695.0       427.6       273.6       454.4

In [26]:
data2 = data_wide.melt(id_vars = 'Year', value_vars = ['01-04 Years', '05-09 Years'], var_name = 'Age Group', value_name = 'Death Rate')

KeyError: 'Year'

In [30]:
data['Year']

0      1900
1      1901
2      1902
3      1903
4      1904
5      1905
6      1906
7      1907
8      1908
9      1909
10     1910
11     1911
12     1912
13     1913
14     1914
15     1915
16     1916
17     1917
18     1918
19     1919
20     1920
21     1921
22     1922
23     1923
24     1924
25     1925
26     1926
27     1927
28     1928
29     1929
       ...
446    1989
447    1990
448    1991
449    1992
450    1993
451    1994
452    1995
453    1996
454    1997
455    1998
456    1999
457    2000
458    2001
459    2002
460    2003
461    2004
462    2005
463    2006
464    2007
465    2008
466    2009
467    2010
468    2011
469    2012
470    2013
471    2014
472    2015
473    2016
474    2017
475    2018
Name: Year, Length: 476, dtype: int64

In [32]:
data_wide.index("Year")

TypeError: 'Int64Index' object is not callable

In [41]:
flattened = pd.DataFrame(data_wide.to_records())

In [46]:
flattened.columns = [hdr.replace("('Death Rate', ", "dr.").replace(")", "") \
                     for hdr in flattened.columns]

In [48]:
flattened.columns = [hdr.replace("'", "").replace(")", "") \
                     for hdr in flattened.columns]

In [51]:
flattened.columns = [hdr.replace(" ", "") for hdr in flattened.columns]

In [54]:
flattened = flattened.drop("(Year,", 1)

In [58]:
flattened.columns = [hdr.replace("dr.", "") for hdr in flattened.columns]

In [59]:
flattened

     Year  01-04Years  05-09Years  10-14Years  15-19Years
0    1900      1983.8       466.1       298.3       484.8
1    1901      1695.0       427.6       273.6       454.4
2    1902      1655.7       403.3       252.5       421.5
3    1903      1542.1       414.7       268.2       434.1
4    1904      1591.5       425.0       305.2       471.4
5    1905      1498.9       396.3       279.8       439.3
6    1906      1580.0       377.4       272.2       445.2
7    1907      1468.3       365.6       265.8       437.7
8    1908      1396.8       354.2       247.9       397.7
9    1909      1348.9       330.2       230.5       363.6
10   1910      1397.3       348.4       235.9       371.9
11   1911      1176.0       310.0       222.2       366.0
12   1912      1094.1       287.5       202.2       347.2
13   1913      1193.4       317.7       214.8       360.3
14   1914      1024.2       291.6       207.2       340.5
15   1915       924.2       260.6       196.7       330.9
16   1916      1111.5       282.4       205.1       355.8
17   1917      1066.0       290.7       218.9       380.3
18   1918      1573.5       447.9       375.1       777.4
19   1919       928.0       300.0       236.4       438.5
20   1920       987.2       295.2       229.9       402.9
21   1921       801.2       281.4       209.9       326.5
22   1922       742.0       239.6       186.6       319.6
23   1923       806.7       240.0       188.2       325.8
24   1924       683.2       221.7       179.8       313.5
25   1925       641.0       211.5       181.0       314.0
26   1926       723.4       213.8       171.4       307.5
27   1927       591.0       208.3       167.5       289.5
28   1928       647.5       213.1       173.8       307.8
29   1929       625.5       208.0       165.0       298.0
..    ...         ...         ...         ...         ...
89   1989        49.8        24.1        27.4        85.9
90   1990        46.8        22.2        26.0        87.9
91   1991        47.4        21.5        25.6        88.7
92   1992        43.5        20.3        24.4        83.6
93   1993        44.6        21.0        25.3        85.8
94   1994        42.7        19.7        24.8        85.5
95   1995        40.4        19.4        25.1        82.1
96   1996        38.0        19.0        23.4        77.5
97   1997        35.5        18.0        22.5        73.6
98   1998        34.1        17.2        21.5        69.5
99   1999        34.2        16.9        20.4        68.6
100  2000        32.4        15.8        20.3        67.1
101  2001        33.4        15.3        19.1        66.3
102  2002        31.4        15.2        19.4        67.0
103  2003        31.8        14.8        18.9        65.4
104  2004        30.3        14.8        18.4        64.9
105  2005        29.9        14.6        17.7        63.8
106  2006        29.1        14.0        16.2        63.0
107  2007        29.4        13.8        16.5        60.3
108  2008        29.3        12.6        15.2        55.9
109  2009        27.4        12.5        15.1        51.9
110  2010        26.5        11.5        14.3        49.4
111  2011        26.3        12.1        14.2        48.9
112  2012        26.3        11.4        13.9        47.2
113  2013        25.5        11.8        14.1        44.8
114  2014        24.0        11.5        14.0        45.5
115  2015        24.9        11.7        14.6        48.3
116  2016        25.3        12.2        14.6        51.2
117  2017        24.3        11.6        15.5        51.5
118  2018        24.0        11.5        14.9        49.2

[119 rows x 5 columns]

In [40]:
pd.wide_to_long(data_wide, ['01-04 Years','05-09 Years'], i="Year", j="Thing")

TypeError: expected string or bytes-like object

In [60]:
flattened.head(2)

   Year  01-04Years  05-09Years  10-14Years  15-19Years
0  1900      1983.8       466.1       298.3       484.8
1  1901      1695.0       427.6       273.6       454.4

In [63]:
data2 = flattened.melt(id_vars = 'Year', value_vars = ['01-04Years', '05-09Years'], var_name = 'Age Group', value_name = 'Death Rate')

In [65]:
data2.Year.count()

238